<html>
{% load static %}
<head>
    <title>Account</title>
    
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    
    <link rel="stylesheet" href="{% static 'script/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'script/style.css' %}">
    <script src="{% static 'script/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'script/jquery-ui.js' %}"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy'}); 
        } );
    </script>
    
</head>

<body style="background-image:url({% static 'pic/bg.jpg' %});">

<ul>
  <li><a class="active" href="{% url 'account:show' %}">Home</a></li>
  <li style="float:right;"><a href="{% url 'login'%}">login again.</a>
  <li style="float:right;"><a href="{% url 'account:customize' %}" title="edit/delete data">Edit</a></li>
  <li style="float:right"><a href="{% url 'account:export_csv' %}" title="Export data to CSV file">Export</a></li>
  <li style="float:right"><a href="{% url 'account:import_page' %}" title="Import data from CSV file">Import</a></li>
</ul>

<h2 style="text-align:center"> บัญชีรายรับ-รายจ่าย </h2>

<div class="show_table">
<table name="table_result">
<tr style="height: 30px;color:green">
<th style="width:100px;">วัน/เดือน/ปี</th>
<th style="width:300px">รายการ</th>
<th style="width:150px;">รายรับ</th>
<th style="width:150px;">รายจ่าย</th>
<th style="width:150px;">คงเหลือ</th>
</tr>
{% load humanize %}

{% if not all_list %}
<td colspan="5" style="text-align:center;height:50px">
    <b>ยังไม่มีข้อมูล</b>
</td>

{% else %}
{% for list in all_list %}
<tr style="height: 30px">
<td style="text-align:center">{% ifchanged list.save_date %}{{ list.save_date|date:"d/m/Y" }}{% endifchanged %}</td>
<td>{{ list.detail_text }}</td>
<td style="text-align:right">{% if list.money_type == 'income' %}{{ list.money|floatformat:2|intcomma }}{% endif %}</td>
<td style="text-align:right">{% if list.money_type == 'expenses' %}{{ list.money|floatformat:2|intcomma }}{% endif %}</td>
<td style="text-align:right">{{ list.balance|floatformat:2|intcomma }}</td>
</tr>
{% endfor %}
{% endif %}
</table>
</div>

<br/><br/>

<div class="input_form">
<form action="{% url 'account:save_list' %}" method="post">
{% csrf_token %}

<fieldset>
<legend align="center"><b> บันทึกข้อมูล </b></legend>
</br>
Please Enter Date :
<input type="text" id="datepicker" name="date" required
    pattern="[0-9]{2}/[0-9]{2}/[0-9]{4}" placeholder="Example : 01/01/2017">
<br/><br/>

Please Enter Detail :
<input type="text" name="detail" pattern=".{0,80}" style="width:400px"
       placeholder="Example : ยืมตังค์พี่สุชาติ" required>
<br/><br/>

Select type :
<input type="radio" name="in_type" id="income" value="income" checked> รายรับ 
<input type="radio" name="in_type" id="expenses" value="expenses"> รายจ่าย 
<br/><br/>

Please Enter Money :
<input type="text" name="money" pattern="([0-9,]+)|([0-9,]+\.[0-9]{0,2})" style="width:300px" 
    placeholder="Example : 9999 หรือ 9999.00 หรือ 9,999.00" required>
<br/><br/>
<input type="submit" name="enter" value="Enter!" style="width:80px;height:40px">
</fieldset>
</form>
</div>
<br/>
</body>
</html>
